# Created by .ignore support plugin (hsz.mobi)
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.gitignore
.idea/dtraining.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
_DS_Store
_env
_env.example
_gitattributes.txt
_gitignore.txt
app/
artisan
bootstrap/
composer.json
composer.lock
config/
database/
index.php
node_modules/
package-lock.json
package.json
phpunit.xml
public/
readme.md
resources/
routes/
storage/
tests/
themes_files.zip
vendor/
webpack.mix.js
